/* Add CSS Styling */
.odd{
    background-color: pink; font-family: 'Verdana', 'DejaVuSans', sans-serif ;
}
#two{
color: blue; font-size: 32px;
}
#four{
font-weight: bold; background-color: lightgreen; font-size: 24px;
}
.odd.three{
    font-size: 24px;
}